@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


#section1{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: HIDDEN;    
}

#section2{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;    
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e51e2a;
    clip-path: circle(50% at bottom right);
}

.circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e51e2a;
    clip-path: circle(50% at top right);
}

.menu {
    background-color: #e51e2a;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 50%;
    padding: 20px;
    margin-left: 230px;
    text-align: center;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .text{
    position: relative;
    width: 600px;
    margin-right: 20px;
}

.container .text h3{
    color: #fff;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 700;
}

.container .text h1 span{
    font-size: 3.5em;
    color: #e51e2a;
}

.container .text p{
    color: #fff;
    line-height: 20px;
}

.btnContinue{
    background: #e51e2a;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    border-radius: 20px;
}

.btnContinue a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.btnContinue a:hover{
    transform: translateY(-10px);
}

.boxImg{
    position: absolute;
    left: 700px;
    top: 170px;
}

.boxImg img{
    width: 480px;
}