*{
    margin: 0px;
    padding: 0px;
}

body{
    font:  16px Arial, Helvetica, sans-serif;
    background-color: white;
}


#elementoSelecionadoInicial, #elementoSelecionadoFinal {
    width: 10%;
    height: 20%;
    border-radius: 15px;
    background-color: #f6f6f6;
    position: absolute;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Adicione sombra */
    top: 120%;
}

#elementoSelecionadoInicial {
    right: 50%;
    transform: translateX(50% -50%);
    margin-right: 20px;
  }
  
  #elementoSelecionadoFinal {
    left: 50%;
    transform: translateX(-50%, -50%);
    margin-right: 20px;
  }

/*BTN OPEN MODAL*/
#open-modal{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

#botao-buscar{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.separador {
    width: 30%;
    height: 1px;
    margin: 0 auto;
    background-color: #ccc;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #081132;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
    
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
.menu li{
    display: inline-block;
    margin-right: 10px;
}
    
.menu a{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
}

h1{
    text-align: center;
    font-size: 48px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
}
    
h2{
    text-align: center;
    font-size: 24px;    
    color: #666;
    margin-top: 10px;
}

table tr td{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 50px;
}

.tabelaperiodica{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.excessao:hover{
    background: none;
}

.amarelo{
    background-color: #d4ba0e;
    border-radius: 5px;
}

.verde{
    background-color: #38b66b;
}

.azul{
    background-color: #6bc6ef;
}

.laranja{
    background-color: #f58132;
}

.inclicaveis{
    background-color: #8b8b8b;
}

.rosa{
    background-color: #f27eb2;
}

.roxo{
    background-color: #875baa;
}

.hidrogenio{
    background-color: #3b56a6;
    font-weight: bold;
}

.numero{
    float: right;
    font-size: 12px;
}

.nome{
    font-size: 11px;
}

.siglacor{
    font-weight: bold;
    font-size: 15px;
}

.no-aberto{  
    /* outline: #7b0156 3px solid; */
    background-color: #f580805e;
}

.visitado{  
    /* outline: #000000 3px solid; */
    background-color: #80cbfe6a;
}

.caminho-final{  
    background-color: #dfdfdf;
}

table tr td:hover:not(.excessao, .inclicaveis){
    background-color: black;
    color: white;
    cursor: pointer;
}

.elementos-pressionados:not(.excessao, .inclicaveis){
    background-color: black;
    color: white;
    font-weight: bold;
}


/*Formatação - pop-up - INICIO*/
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.janela{
    background-color: white;
    width: 90%;
    height: 80%;
    margin: 5vh auto;
    position: relative;
    padding: 30px;
    border-radius: 10px;
}

.active{
    display: flex;
}

/*Começo Animação Modal*/
.active .janela{
    animation: janela .60s;
}

@keyframes janela{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/*Fim Animação Modal*/

/*Botões Modal*/
.btns-modal{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.btns-modal button{
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btnOK{
    background-color: blue;
}

.btnClose{
    background-color: brown;
}

.opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 80px 0 30px 0;
    position: relative;
}

/*Responsividade Modal*/
@media(max-width: 500px){
    .janela{
        padding: 100px;
        width: 80%;
    }
    span, .btns button{
        font-size: smaller;
    }
}

hr{
    border: 0px;
    border-top: 1px solid lightgrey;
}

/*Fomatação - Dimensão Colunas*/
/* table td:first-child{
    width: 70px;
}

table td:nth-child(2){
    width: 70px;
}

table td:nth-child(3){
    width: 70px;
}

table td:nth-child(4){
    width: 70px;
}

table td:nth-child(5){
    width: 70px;
}

table td:nth-child(6){
    width: 70px;
}

table td:nth-child(7){
    width: 70px;
}

table td:nth-child(8){
    width: 70px;
}

table td:nth-child(9){
    width: 70px;
}

table td:nth-child(10){
    width: 70px;
}

table td:nth-child(11){
    width: 70px;
}

table td:nth-child(12){
    width: 70px;
}

table td:nth-child(13){
    width: 70px;
}

table td:nth-child(14){
    width: 70px;
}

table td:nth-child(15){
    width: 70px;
}

table td:nth-child(16){
    width: 70px;
}

table td:nth-child(17){
    width: 70px;
}

table td:nth-child(18){
    width: 70px;
} */